<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Diễn Đàn Công Nghệ (Tech Forum)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/menu.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]>
    <style type="text/css" media="screen">
    #menuh{float:none;}
    body{behavior:url(csshover.htc); font-size:73%;}
    #menuh ul li{float:left; width: 100%;}
    #menuh a{height:1%;font:bold 1em/1.4em "lucida sans", helvetica, "Trebuchet MS", arial, sans-serif;}
    </style>
    <![endif]-->
</head>
<body>
    <div id="container">
        <div id="top">
            <h1><a href="http://all-free-download.com/free-website-templates/">Trang chủ</a> | <a href="http://all-free-download.com/free-website-templates/"> Liên hệ</a></h1>
            <div id="menuh-container">
                <div id="menuh">
                    <ul>
                        <li>
                            <a href="@Url.Action("Index","Forum")" class="top_parent">&nbsp; Trang chủ</a>
                        </li>
                    </ul>
                    @Html.Action("LinhVuc", "Forum")
                    <ul>
                        <li>
                            <a href="@Url.Action("DangNhap","NguoiDung")" class="top_parent">&nbsp; Đăng nhập</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="@Url.Action("DangKy","NguoiDung")" class="top_parent">&nbsp; Đăng ký</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="leftnav">
            <h3>CỘNG ĐỒNG</h3>
            <div id="nav">
                <ul id="navlist">
                    @Html.Action("CongDong","Forum")
                </ul>
            </div>
        </div>
        <div id="content">
            <div>
                @RenderBody()
            </div>
        </div>
        <div id="footer"> <a href="http://all-free-download.com/free-website-templates/">Trang chủ</a> | <a href="http://all-free-download.com/free-website-templates/">Liên hệ</a> | &copy; 2019 Diễn Đàn Công Nghệ (Tech Forum) | Thiết kế bởi <a href="http://www.mitchinson.net"> Phạm Vũ Ngọc Hội & Hoàng Thành Hiếu</a></div>
    </div>
</body>
</html>