@model ForumWeb.Models.NguoiSuDung
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h4 style="color:red;text-align:center">@ViewBag.ThongBao</h4>
<table align="center">
    <h1 style="text-align:center">ĐĂNG NHẬP</h1>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="col-md-12 form-group">
            @Html.TextBox("TenDangNhap", "", new { @id = "formUser", @class = "form-control", placeholder = "Tên đăng nhập " })
            @ViewData["Loi1"]
        </div>
        <div class="col-md-12 form-group">
            @Html.Password("MatKhau", "", new { @class = "form-control", placeholder = "Mật khẩu" })
            @ViewData["Loi2"]
        </div>
        <tr style="height:40px">
            <td></td>
            <td>
                @Html.ActionLink(" Đăng Ký Tài Khoản", "DangKy")
                <input type="submit" value="Đăng nhập" class="btn btn-primary" />

            </td>
        </tr>
    }
</table>