
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
    <table align="center">
        <h1 style="text-align:center">ĐĂNG KÝ THÀNH VIÊN</h1>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <div class="col-md-12 form-group">
                @Html.TextBox("TenDangNhap", "", new { @id = "formUser", @class = "form-control", placeholder = "Nhập tên đăng nhập " })
                @ViewData["Loi1"]
            </div>
            <div class="col-md-12 form-group">
                @Html.TextBox("MatKhau", "", new { @class = "form-control", placeholder = "Nhập mật khẩu " })
                @ViewData["Loi2"]
            </div>
            <div class="col-md-12 form-group">
                @Html.TextBox("MatKhauNhapLai", "", new { @class = "form-control", placeholder = "Nhập lại mật khẩu " })
                @ViewData["Loi3"]
            </div>
            <div class="col-md-12 form-group">
                @Html.TextBox("HoTen", "", new { @id = "formName", @class = "form-control", placeholder = "Nhập họ tên " })
                @ViewData["Loi4"]
            </div>
            <div class="col-md-12 form-group">
                @Html.TextBox("DiaChi", "", new { @class = "form-control", placeholder = "Nhập địa chỉ" })
            </div>
            <tr>
                <td>Giới Tính:</td>
                <td>
                    <select name="GioiTinh">
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                        <option value="Khác">Khác</option>
                    </select>
                </td>
            </tr>
            <div class="col-md-12 form-group">
                <input type="date" name="NgaySinh" value="" class="form-control" placeholder="Ngày sinh" />
            </div>
            <div class="col-md-12 form-group">
                @Html.TextBox("SoDienThoai", "", new { @class = "form-control", placeholder = "Nhập số điện thoại " })
                @ViewData["Loi7"]
            </div>
            <div class="col-md-12 form-group">
                @Html.TextBox("Email", "", new { @id = "formEmail", @class = "form-control", placeholder = "Nhập email " })
                @ViewData["Loi8"]
            </div>
            <tr style="height:40px">
                <td></td>
                <td>
                    <input type="submit" value="Đăng ký" class="btn btn-primary" />
                </td>
            </tr>
        }
    </table>